.container{
    width: 50%;
    margin: auto;
    border: 1px solid gray;
    text-align: center;
    height: 350px;
    margin-top: 20px;
}

.container>input{
    width: 90%;
    height: 35px;
    border: 1px solid grey;
    margin-top: 13px;
    border-radius: 5px;
}

.container>h1{
    margin-bottom: 20px;
    margin-top: 20px;
}

.container>button{
    background-color: blueviolet;
    padding: 10px 35px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

@media only screen and (min-width:100px) and (max-width:500px){
    .container{
        width: 90%;
    }
}

