
.container{
    border: 1px solid grey;
    width: 250px;
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container>h3,strong{
margin-left: 15px;
}
.container>img{
        width: 200px;
        height: 250px;
        padding: 5px 10px;
}
.container>div{
    display: flex;
    gap: 1rem;
}
.container>div>button{
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}